*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  font-size: small;
  background-color: white;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 38px;
  padding-top: 109px;
}

a {
  color: black;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.nav-bar {
  display: flex;
  justify-content: flex-end;
  height: 65px;
  padding: 15px;
}

li {
  display: inline;
  text-decoration: none;
  padding-left: 14px;
}

.apps-button {
  vertical-align: middle;
  cursor: pointer;
}

.nav-bar svg {
  width: 24px;
  height: 24px;
  color: #5f6368;
  opacity: 1;
  fill: currentColor;
  margin-left: 15px;
}

.sign-in {
  background-color: #4285f4;
  width: 75px;
  height: 30px;
  color: azure;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  font-weight: 600;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.sign-in:hover,
.sign-in:focus {
  opacity: 1;
}

/* Main */
.main-search {
  display: flex;
  justify-content: center;
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 44px;
  width: 561px;
  border-radius: 30px;
  border-color: white;
  border: 0.1px solid #ddd;
  margin-bottom: 32px;
  padding: 0 14px 0 14px;
}

.search-bar:hover {
  border-color: white;
  border: 0.1px solid #ddd;
  box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);
}
.search-icon {
  width: 15px;
  height: 15px;
}
.input {
  width: 90%;
  font-size: 16px;
  height: 34px;
  outline: none;
  border: none;
}

.mic-icon {
  width: 15px;
  height: 20px;
  cursor: pointer;
}

.main-buttons {
  display: flex;
  justify-content: center;
}

.btn {
  background-color: #f8f9fa;
  border: none;
  border-radius: 4px;
  color: #3c4043;
  padding: 0 16px;
  margin: 0 8px;
  font-size: 14px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
}

.btn:hover {
  box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);
}

/* Footer */

.footer {
  background-color: #f2f2f2;
  border: 1px solid #dadce0;
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 20px;
  font-size: 0.9rem;
}
.footer-left {
  display: flex;
  justify-content: space-between;
}

.footer-right {
  display: flex;
  justify-content: space-between;
}

.footer-link {
  padding: 15px;
}

a.footer-link {
  color: #70757a;
}

/* Media queries */

@media (max-width: 660px) {
  .footer {
    flex-direction: column;
  }
  .search-bar {
    width: 449px;
  }
}
